{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Test</title>
    <!-- static css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 class="purple-bg text-white">Static Files</h1>

    <img src="{% static 'images/me.jpg' %}" alt="" class="img-width">

    <div>
        <h3>Welcome, {{name}}</h3>
        <h3>Age: {{age}}</h3>
        <h3>Hobbies:</h3>
        <ul>
            {% for hobby in hobbies %}
                <li class="bg-gray-100">{{hobby}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>